<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="<?php echo base_url().'/style/admin/css/public.css'; ?>">
    <title></title>
</head>
<body>
    <form action="<?php echo site_url('admin/category/edit'); ?>" method="POST" >
  <table class="table">
  
        <tr>
            <td class="th" colspan="10">edit栏目</td>
        </tr>
        <tr>
            <td>栏目名称</td>
            <td><input type="text" name="cname" value="<?php echo $category[0]['cname'] ?>"> </td>
            <input type="hidden" name='cid' value="<?php echo $category[0]['cid']; ?> ">
        </tr>
        <tr>
            <td colspan="10"><input type="submit"  value="提交" class="input_button"></td>
        </tr>
    </table>
    </form>
</body>
</html>